.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 16px;
}

.product {
  background-color: #ffffff;
  width: 100%;
  max-width: 300px;
  margin-bottom: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.itemImg {
  max-width: 100%;
  height: auto;
}

.product button {
  margin-right: 10px;
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product button:hover {
  background-color: #45a049;
}

.product button:active {
  background-color: #3e8441;
}
